html, body{
    width: 100%;
    height: 100%;
}
.navbar-container{
    background-color:transparent;
    padding: 1% 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato';
    padding: 15px 0;
    border: 0px;
}
.navbar-contents.scrolled{
    background-color: #23272a;
}
#home{
    background-image: url("https://petzz.org/wp-content/uploads/2018/01/home_page.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
}
.navbar-header{
    margin-left: 50px;
}
.navbar-content{
    margin-right: 10px;
}
.menu-bar{
    border: 0px;
}
.navbar-container{
   margin-bottom: 0px; 
   background-color: transparent;
   border: 0px;
}
.contact-form img{
    width: 100%;
    height: 100%;
}
.contact-text span a{
    color: #000;
}
.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a{
    cursor: pointer;
    color: #fff;
    padding: 10px;
}
.navbar-default .navbar-nav li a:hover{
    color: #d5d5d5;
}
.heading-content{
    padding: 60px 15%;
    margin: 0 15px;
}
.cart{
    padding-left: 22px;
    cursor: pointer;
    margin-top: 5px;
    border-left: 1px solid #777;
}
.fa-shopping-bag:before {
    color: white;
    font-size: 20px;
}
.landing-text{
    padding-top: 229px;
    padding-bottom: 60px;
}
.landing-text h1{
    color: #fff;
    font-size: 30px;
    font-family: 'Lato';
    line-height: 40px;
    font-weight: 600;
}
.landing-text h4{
    font-size: 18px;
    color: #fff;
    line-height: 150%;
    font-weight: 400;
    padding: 10px 0 0;
}
.heading-button{
    margin: 30px 0 0;
    background-color: #498443;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    padding: 10px 45px;
    border-radius: 50px;
    font-weight: normal;
}
.contact-number{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;  
}
.contact-text span{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin-right: 30px;
}
.contact-text img{
    width: 20px;
}
#aim-of-petzz {
    padding-top: 50px;
    padding-bottom: 40px;
    color: white;
    background-image: url(https://petzz.org/wp-content/uploads/2018/01/petzz.jpg);
}
.aim-of-petzz{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 29px;
    margin-right: 29px;
    font-size: 'Lato';
}
.aim-of-petzz h2{
    font-size: 30px;
    padding-bottom: 16px;
}
.aim-of-petzz p{
    font-size: 17px;
    margin-bottom: 30px;
}
.service-block{
    line-height: 165%;
}
.plans_heading{
    font-family: 'Lato';
    margin-bottom: 30px;
}
.plans_heading h2{
    margin: 0px;
    padding-bottom: 16px; 
}
.plans_heading p{
    font-size: 17px;
    color: #5c5c5c;
    font-weight: normal;
    line-height: 165%;
}
.background{
    background-color:#f0f0f0;
}
#service-blocks h3{
    font-size: 22px;
    padding-left: 0px;
}
#service-blocks div{
    margin-top: 30px;
}
#service-blocks .plans img{
    margin-top: 15px;
}
.row{
    margin:0px;
}
.footer-menu li{
    list-style: none;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    font-size: 15px;
    line-height: 165%;
    padding-top: 8px;
    padding-bottom: 8px;
}
.footer-menu{
    padding: 0px;
}
.details h3{
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 26px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.footer{
    background-color: #292e31;
    color: white;
    padding: 30px 0 0;
    margin-top: -1px;
}
.footer-menu li a{
    text-decoration: none;
    color: #d2d2d2;
    padding: 8px 0;
}
.view_plans_btn{
    color: white;
    background-color: #498443;
    padding: 10px 30px;
    border-radius: 50px;
    white-space: normal;
    border: 1px solid #000;
}
.petzz-org-section{
    margin-bottom: 40px;
    text-align: center;
}
.petzz-org-section1{
    margin-bottom: 40px;
    text-align: center;
}
.copyright-bar{
    background: #23272a;
    padding: 20px 0 10px;
}
.copyright-bar p{
    font-size: 17px;
    line-height: 165%;
    color: #d2d2d2;
}
.pets_healthcare_plans_info{
    font-size: 30px;
    font-family: 'Lato';
}
.pets_healthcare_plans_info h2{
    margin-top: 0px;
    font-weight: 600;
    color: #515151;
    font-family: 'Lato';
}
.plans-details h4{
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 600;
    color: #515151;
    line-height: 165%;
}
.plans-details p{
    font-family: 'Lato';
    font-size: 10px;
    line-height: 165%;
}
.details{
    margin-bottom: 40px;
}
.pets-plans .pets-plans-details{
    padding: 0 45px;
}
.pets-plans .pets-plans-details h3{
    font-size: 22px;
    margin-bottom: 20px; 
}
.padding{
    padding-top: 80px;
    padding-bottom: 80px;
}
.service-block-0{
    display: flex;
    margin-bottom: 30px;
}
.service-block-text h3{
    margin-top: 0;
    padding-top: 4px;
    margin-left: 60px;
    font-size: 22px;
    font-family: 'Lato';
    font-weight: 600;
    color: #515151;
}
.check-icon{
    font-size: 30px;
    color: #000;
}
@media only screen and (max-width: 480px){
    .padding .health-plans{
        margin-left: 0px;
        margin-right: 0px;
    }
    .footer-wedgets{
        margin: 0 12px;
    }
}
@media only screen and (min-width: 768px){
    .navbar-contents{
        margin-right: 25px;
    }
}
@media only screen and (max-width: 992px){
    .footer-container{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        padding-top: 15px;
    }
}
@media only screen and (max-width: 1028px){
    .navbar-container{
        background-color: #23272a;
        border: 0px;
        padding: 1% 0;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Lato';
        padding: 15px 0;
    }
}